<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Enter numbers and select action. Then click "Calculate".</h1>

<table border="1" th:unless="${#lists.isEmpty(history)}">
    <caption><h2>History:</h2></caption>
    <tr>
        <th>Number 1</th>
        <th>Number 2</th>
        <th>Action</th>
        <th>Result</th>
    </tr>
    <tr th:each="historyItem : ${history}">
        <td th:text="${historyItem.num1}">${historyItem.num1}</td>
        <td th:text="${historyItem.num2}">${historyItem.num2}</td>
        <td th:text="${historyItem.actionType}">${historyItem.actionType}</td>
        <td th:text="${historyItem.result}">${historyItem.result}</td>
    </tr>
</table>
<hr color="black" size="2">

<div th:if="${#lists.isEmpty(history)}">
    <h2>History is empty</h2>
</div>

<h2 th:text="${message}">Current result: calc_result</h2>

<form action="/calc" method="post" th:action="@{/calc}" th:object="${expression}">
    <input th:field="*{num1}" type="number"/>
    <p th:errors="*{num1}" th:if="${#fields.hasErrors('num1')}">Incorrect number 1</p>

    <select th:field="*{actionType}">
        <option th:each="actionItem : ${actionType}" th:text="${actionItem}" th:value="${actionItem}">action</option>
    </select>

    <input th:field="*{num2}" type="number"/>
    <p th:errors="*{num2}" th:if="${#fields.hasErrors('num2')}">Incorrect number 2</p>

    <button type="submit">Calculate</button>
</form>
<a href="/" th:href="@{/}">Home</a>
</body>
</html>